//designer please put your stuff here --> global(colors, fonts, etc)


$projectname: white;

//static colors used more in website
$white: white;
$black: black;

$promo-color: #4c5870;
//quicklinks variables
$hanlink: #ccc4c1;
$patellink: #a2a9af;
$worklink: #4c5870;
$contactlink: #3d3d3b;

//about background color variables
$about-bgcolor: #ccc;
$about-bgcolor-han: #ccc4c1;
$about-bgcolor-patel: #a2a9af;

//work area variables
$work-bgcolor: #4c5870;

//contact form variables
$contact-bgcolor:#3d3d3b;

//footer variables
$footer-bgcolor: #ebedec;
$submit-color: black;
$submit-bgcolor: #ccc4c1;